/*  
-----------------------------------------------
Created with Notepad++
User: Yohanes Budi Santosa
Date: 03/17/16
-----------------------------------------------
*/

@font-face {font-family: 'Roboto Condensed';font-style: normal;font-weight: 300;src: url('../fonts/roboto-x.woff2') format('woff2');}
@font-face {font-family: 'Roboto Condensed';font-style: normal;font-weight: 400;src: url('../fonts/roboto.woff2') format('woff2');}

.h10{display:block;height:10px;}
.h15{display:block;height:15px;}
.h20{display:block;height:20px;}
.h25{display:block;height:25px;}
table .down,.red{color:#f00;position:static;}
table .up{color:#11b538;position:static;}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th{border-color:#ccc;}
.bullet{text-align:right;padding-bottom:0px !important;}
th.bullet{padding-right:30px !important;padding-bottom:8px !important;}
.bullet span{background:#7266ba;width:70px;padding:2px 5px;border-radius:15px;text-align:center;display:inline-block;color:#dee6e9;overflow:hidden;}
.newbusiness .bullet span{background:#f1d206;color:#fff;}
.blink{animation: blinker 0.3s cubic-bezier(.5, 0, 1, 1) infinite alternate;}
.modal-content{border-radius:2px !important;padding:10px;box-shadow:none;border:none;}
*{outline:none !important;}
body{background:#f7f7f7;padding:0;margin:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:left;font-family: 'Roboto Condensed', sans-serif;font-size:14px;font-weight:300;line-height:1.6em;color:#666;overflow-x:hidden !important;}
.minWidth{display:none;}
.outer-wrapper{padding:0;margin:0;}
.wrap2{padding:0;margin:0;}
.header-wrapper{padding:0;margin:0;background:#1198c5;color:#fff;position:fixed;top:0;left:0;right:0;z-index:99;}
.header{padding:0 15px;margin:0;border-bottom:1px solid #cbd2d8;}
.header-wrapper .nav{padding:0 15px;height:38px;overflow:hidden;margin:0;background:#dee6e9;color:#666;position:relative;}
.header-wrapper .nav .navbarTab{float:left;padding:0;margin:0;background:#fff;position:absolute;left:15px;right:200px;text-transform:uppercase;font-size:12px;font-weight:400;}
.header-wrapper .nav .navbarTab ul{padding:0;margin:0;border:none;}
.header-wrapper .nav .navbarTab .nav-tabs > li > a, .header-wrapper .nav .navbarTab .nav-tabs > li > a:focus, .header-wrapper .nav .navbarTab .nav-tabs > li > a{border-radius:0;color:#7266ba;}
.header-wrapper .nav .navbarTab .nav-tabs > li.active > a, .header-wrapper .nav .navbarTab .nav-tabs > li.active > a:focus, .header-wrapper .nav .navbarTab .nav-tabs > li.active > a:hover{background:#f7f7f7;border:none;border-radius:0;}
.header-wrapper .nav .date{float:right;overflow:hidden;padding:0;margin:0;line-height:38px;text-align:right;color:#6e6a9d;}
.header-wrapper .nav.noTab .date{display:block;text-align:left;float:none;}
.header-wrapper .nav .date .fa-clock-o{margin:0 5px 0 0;}
.header-wrapper .nav .date .fa-times{display:none;}
.header .welcome{padding:0;margin:0;float:left;height:38px;width:350px;overflow:hidden;}
.header .welcome h1{font-size:22px;font-weight:400;padding:8px 0 2px;margin:0;}
.header .welcome h1 i{display:none;margin:0 5px 0 0;}
.header .welcome h1 .user{font-weight:300;font-size:18px;}
.header .menu{float:right;max-width:500px;margin:0;padding:0;}
.header .menu .menuIcon{display:none;}
.header .menu .menuIcon .fa-times,.header .menu .menuIcon.active .fa-bars{display:none;}
.header .menu .menuIcon.active .fa-times,.header .menu .menuIcon .fa-bars{display:block;}
.header .menu ul,.header .menu li{padding:0;margin:0;list-style:none;}
.header .menu li{float:left;text-transform:uppercase;font-size:12px;margin:0 0 0 5px;}
.header .menu li a i{margin:0 5px 0 0;font-size:16px;vertical-align:middle;}
.header .menu li a{padding:8px 12px 9px;color:#fff;display:block;text-decoration:none;text-align:center;font-weight:400;border-bottom:2px solid transparent;}
.header .menu li a:hover{border-color:#fff;background:#17b2e2;}
.main-wrapper{margin:100px 15px 0;}
.topWidget .content{padding:15px;border:1px solid #dee6e9;border-radius:4px;background:#fff;overflow:hidden;}
.topWidget .content .title{font-size:18px;font-weight:300;background:#17b2e2;margin:-15px -15px 15px;padding:7px 15px;display:block;color:#fff;}
.topWidget .content .title i{margin:0 5px 0 0;}
.topWidget .content .entry label{font-weight:300;text-align:left;}
.topWidget .content .entry .more{display:block;text-align:right;margin:10px 0 0;}
.topWidget .table-striped > tbody > tr:nth-of-type(2n+1) {background-color: #f7f8fa;}
.topWidget .table-striped td.info,.topWidget .table-striped th.info {border-color: #d9edf7;}
.bottomWidget .title{font-size:26px;font-weight:400;text-align:center;margin:15px auto;padding:25px 15px 10px;border-bottom:2px solid #30be58;display:block;text-transform:uppercase;}
.bottomWidget .content{padding:15px 0;border:none;background:#f7f7f7;}
.bottomWidget .content .wrapContent{border:1px solid #dee6e9;background:#fff;border-radius:4px;overflow:hidden;}
.bottomWidget .content .wrapContent .titleTable{text-align:center;margin:10px 0;font-size:18px;}
.bottomWidget .content .wrapContent table th{font-weight:400;vertical-align:middle;background:#d9edf7;}
.bottomWidget .content .wrapContent table tr.red td{font-weight:400;color:#f00;position:relative;}
.bottomWidget .content .wrapContent table tr.red .fa-arrow-left,.bottomWidget .content .wrapContent table tr.redTotal .fa-arrow-left{position:absolute;right:-8px;font-size:16px;animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;}
.bottomWidget .content .wrapContent .entry{padding:10px;}
.bottomWidget .content .wrapContent table tr.redTotal td{font-weight:400;color:#f00;position:relative;font-size:18px;border-bottom:1px solid #ccc;}
.bottomWidget .content .wrapContent table tr.redTotal .fa-arrow-left{font-size:18px;}
.bottomWidget .content .wrapContent .entry{padding:10px;}
.bottomWidget .content .wrapContent .entry .form-horizontal .control-label{line-height:1.3em;}
.bottomWidget .content .wrapContent .entry .form-horizontal .control-label.two-line{margin-top:-7px;}
.bottomWidget .subtitle{font-size:18px;font-weight:300;margin:0 0 15px;padding:8px 15px;display:block;background:#17b2e2;color:#fff;}
.bottomWidget .subtitle i{margin:0 5px 0 0;}
.bottomWidget .content .wrapContent .note{display:block;text-decoration:underline;text-align:center;font-weight:400;font-size:20px;margin:15px 0;}
.bottomWidget .noteRed{display:block;font-weight:300;font-size:16px;margin:15px 0;color:red;padding:0 10px;}
.bottomWidget .form-horizontal.overriding .form-group{max-width:400px;margin:0 auto 30px;}
.bottomWidget .form-horizontal.overriding .form-group.total{font-weight:400;font-size:18px;}
.bottomWidget .periode{font-weight:400;font-size:16px;border-bottom:1px solid #ccc;padding:0 0 20px;margin:0 0 10px;}
.footer-wrapper{padding:0;margin:0;}
.footer{padding:0;margin:0;}
.footer .disclaimer{}
.footer .copyright{padding:8px 15px;margin:25px 0 0;background:#1198c5;color:#fff;border-top:4px solid #fff;}

/* Page Profile */
.header-wrapper .nav .navbarTab.staticPage{background:#dee6e9;}
.titleStaticPage{height:38px;line-height:38px;font-size:16px;text-transform:uppercase;font-weight:400;color:#7266ba;}
.titleStaticPage i{margin:0 5px 0 0;}

/* Login */
.formLogin{width:280px;margin:-110px 0 0 -140px;padding:10px;height:250px;position:absolute;top:50%;left:50%;}
.formLogin .form-group .col-sm-6{padding:0;}
.formLogin .form-group label{font-weight:400;font-size:16px;}
.formLogin .form-group .remember{padding-top:5px;line-height:1.6em;}
.formLogin .form-group .remember input[type="checkbox"]{margin:0 4px 0 0;vertical-align:middle;display:inline-block;}
.formLogin .form-group .remember label{font-weight:300;font-size:14px;cursor:pointer;}
.formLogin .form-group .iconForm{position:relative;}
.formLogin .form-group .iconForm i{position:absolute;left:8px;top:10px;}
.formLogin .form-group .iconForm input{padding-left:25px;}

/* Admin */
.fluitWidget .content{padding:15px;border:1px solid #dee6e9;border-radius:4px;background:#fff;overflow:hidden;}
.fluitWidget .content .title{font-size:18px;font-weight:300;background:#17b2e2;margin:-15px -15px 15px;padding:7px 15px;display:block;color:#fff;}
.fluitWidget .content .title i{margin:0 5px 0 0;}
.fluitWidget .content table th{font-weight:400;font-size:16px;}
.fluitWidget .content table td:nth-last-child(1),.fluitWidget .content table th:nth-last-child(1){text-align:right;}
.fluitWidget .content table td:nth-child(3),.fluitWidget .content table th:nth-child(3){text-align:center;}
.fluitWidget .content table td,.fluitWidget .content table th{line-height:2.4em;}
.fluitWidget .content table td .btn{margin:-2px 0 0;line-height:1.3em;}
.buttonDownload{padding:10px 25px;float:right;}

/* Loading */
#loading .modal-dialog{max-width:100px;}
.modal-content.loading{background:none;text-align:center;}
.modal-content.loading i{font-size:48px;color:#000;}

/* Profile */
.personalData{padding:15px;background:#fff;border-radius:5px;border:1px solid #dee6e9;overflow:hidden;margin:0 0 25px;}
.supportData .col-xs-4{padding:15px;background:#fff;border-radius:5px;border:1px solid #dee6e9;overflow:hidden;margin:0 0 25px;min-height:400px;}
.personalData label,.supportData label {font-weight: 300;text-align:left;padding-top:8px;line-height:1.3em;}
.personalData label.twoline{margin-top:-8px;}
.personalData .title{background: #17b2e2;color: #fff;display: block;font-size: 18px;font-weight: 300;margin: -15px -15px 15px;padding: 7px 15px;}
.supportData .title {background: #17b2e2;color: #fff;display: block;font-size: 18px;font-weight: 300;margin: -15px 0 15px;padding: 7px 15px;}
.personalData .title i,.supportData .title i{margin:0 5px 0 0;}
.buttonAction{padding:0;margin:0;}
.buttonAction .btn{min-width:125px;min-height:40px;text-transform:uppercase;font-size:13px;margin-right:10px;}
.buttonAction .btn i{margin-right:5px;}

/* Report */
.dropdown{cursor:pointer;line-height:38px;padding:12px 15px;position:relative;color:#7266ba;background:#f7f7f7;}
.dropdown.clicked{background:#1198c5 !important;color:#e5e5e5 !important;}
.contentDropDown{display:none;position:absolute;left:15px;top:80px;background:#1198c5;z-index:2;}
.listDropDown{margin:0;font-size:12px;font-weight:400;text-transform:uppercase;}
.listDropDown a,.listDropDown.active{display:block;padding:10px 15px;border-top:1px solid #dee6e9;min-width:250px;color:#fff;text-decoration:none;}
.listDropDown.active{color:#e5e5e5;}
.formSearch{max-width:680px;margin:0 auto;padding:100px 0 50px;display:block;}
.formSearch label{padding-top:5px;text-transform:uppercase;font-weight:400;font-size:20px;}
.formSearch .btn{text-transform:uppercase;min-width:100px;}
.formSearch .col-sm-2,.formSearch .col-sm-6{margin:0 0 10px;}
.tableResult{max-width:840px;margin:0 auto;padding:25px 0 15px;display:block;}
.tableResult th{font-weight:400;font-size:16px;}
.tableResult td:nth-child(1),.tableResult td:nth-child(2){padding:10px 8px 8px;}
.tableResult td:nth-child(3){text-align:center;}
.tableResult .btn{margin:-5px 0;font-size:12px;text-transform:uppercase;}


/* Persistency */
.persistency{text-align:center;}
.persistency .titlePersistency{display:block;font-size:32px;margin:10px 0 20px;}
.persistency .buttonPersistency{display:block;margin:10px 0;}
.persistency .percentPersistency{display:block;width:120px;margin:0 auto;}

@keyframes blinker{from{opacity: 1;}to {opacity: 0;}}